{% extends "default_layout.html" %}
{% block main %}
  {% for post in posts %}
    <div class="blog-post">
      <a href="{{ url_for('show_post', post_id=post['_id']) }}"><h2 class="blog-post-title">{{ post['title'] }}</h2></a>
      <p class="blog-post-meta">{{ post['created_at'] }} by <a href="#">Mark</a></p>
      {{ vender_markdown(post['content'])|safe }}
      {% if session['user'] %}
        <a class="pull-right" href="{{ url_for('edit_post', post_id=post['_id']) }}">Edit</a>
      {% endif %}
    </div>
  {% endfor %}

  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
{% endblock main %}
